{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/init.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  />
    <script>
        var modalFlag = '';
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>
    <script src="{% static 'js/select.js' %}"></script>

</head>

<body onload="init">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}">
        <div class="logo-text">SW MAP</div>
    </div>
    <div class="findpath-box">
        <input type="hidden" name="startCode" id="startCode">
        <input type="hidden" name="endCode" id="endCode">
        <input type="hidden" name="v_id" id="vId" value="{{v_id}}" >
        <input type="text" name="start" id="start" onclick="openModal(id)" placeholder="출발지점을 선택해주세요." autocomplete="off">
        <div class="exchange-btn"><i class="fa fa-exchange" aria-hidden="true"></i></div>
        <input type="text" name="end" id="end" onclick="openModal(id)" placeholder="도착지점을 선택해주세요." autocomplete="off">
        <div id="findpath" onclick="findPath()">
            <i class="fa fa-search" aria-hidden="true"></i>
             검색
        </div>
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            {% include 'main/modal.html' %}

        </div>

    </div>
    <script>
        window.onload = function () {
            autocomplete.setAutocomplete(document.getElementById('autoInput'), searchData);
        }
    </script>
    <script>
        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName("close")[0];

        function openModal (id) {
            console.log(id);
            modalFlag = id;
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>