{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            padding: 5px;
           margin-left: auto;
           margin-right: auto;
        }
        body{
        text-align: center;
        }
        </style>
        
</head>

<body>
    <h1>방문자 관리</h1>
    <table>
        <tr>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>온도</th>
            <th>방문 경로</th>
            <th>기능</th>
        </tr>
        {% for visitor in visitors %}
        <tr>
            <td>{{visitor.name}}</td>
            <td>{{visitor.phone}}</td>
            <td>{{visitor.address}}</td>
            <td>{{visitor.temperature}}</td>
            <td><a href="{% url 'mapPhone' visitor.phone %}">
                경로 {{ visitor.startPoint}} {{ visitor.endPoint}}
            </a></td>
            <td><a href="{% url 'delete' visitor.phone %}">삭제</a></td>
        </tr>
        {% endfor %}
    </table>


</body>

</html>