<div class="contents-wrapper">
    <div class="contents">
        <div class="srch_form autocomplete">
            <input name="search" id="autoInput" placeholder="위치를 검색해주세요" autocomplete="off">
        </div>
        <form action="#" method="get">
            <div class="path hide">
                123
            </div>
        </form>
        <div class="shop">
            <div class="selectbox">
                <label for="ex_select">1층</label>
                <select id="ex_select">
                    <option selected>1층</option>
                    <option>2층</option>
                    <option>3층</option>
                </select>
            </div>
            <div class="shop-list-box">
                <input type="hidden" name="shop">
                <ul class="shop-list">
                </ul>
            </div>
        </div>

    </div>

</div>