{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
 th, td {
 border: 1px solid #dddddd;
 border-collapse: collapse;
 padding: 5px;
}
.subtitle{
color: #509102;

}
</style>
</head>
<body>
<div id="content">
	<div>
		<span style ="font-size:25px; font-weight:bold; padding-left:15px;">학생회</span>
	</div>
	<hr><br>
<table class="w_table1">
<tbody>
<tr>
<td class="left02">
  <img width="300px" src="{% static 'img/202004.png' %}" border="0" alt="2020년도 학생회">
</td>
<td class="right"><span style="color:blue;">안녕하세요<br>2020년도를 여러분과 함께 이루어나가는
<br>제8대 소프트웨어학과 "이룸" 학생회입니다.
</span>

<br><br>"이룸" 학생회는 소프트웨어학과 학생들의 즐거운 학과 생활과 꿈을 위해 노력하는 학생들을 도와주고자 항상 노력하고 있으며, 열린 마음으로 학생들에게 다가갈 준비가 되어있습니다.

<br><br>단대 통합선거를 통하여 선출된 이룸 학생회는 신입생 OT를 시작으로 MT, 이모저모, 대여용품 확장, 전공책 대여 확장, 제휴업체 등 다양한 사업을 구상하고 있습니다. 코로나 바이러스에 대한 대책마련과 그에 부합한 여러 행사를 기획하여 안전하고 즐거운 학과 생활을 할 수 있도록 노력하고 있습니다.

<br><br>저희를 믿고 뽑아주신 만큼 여러분들을 위해 올 한해 열심히 노력해서 모든지 다 이룰 수 있는 학생회가 될 수 있도록 노력하겠습니다.

<span style="color:blue;"><br><br>우리 모두 다함께 이룸~</span>

<br></td></tr></tbody></table><br><br>

<span style="font-size:20px; color:#509102;">DRAG 학생회</span><br><br>

<table width="97%" style="border: 1px solid black; border-collapse: collapse;">
<colgroup>
<col width="20%">
<col width="20%">
<col width="60%"></colgroup>
<thead style="background-color: #dddddd;">
<tr>
<th>직책</th>
<th>성명</th>
<th>소개</th></tr></thead>
<tbody>
  <tr>
    <td class="subtitle">회장</td>
    <td>이완석</td>
    <td>대외 대내적 학생대표 활동</td>
  </tr>
  <tr>
    <td class="subtitle">부회장</td>
    <td>김용기</td>
    <td>대외 대내적 학생대표 활동, 학회장 부재시 학회장 업무 진행 총괄</td>
  </tr>
  <tr>
    <td class="subtitle">총무부장</td>
    <td>홍진빈</td>
    <td rowspan="2">1년간 예산계획 수립, 장부 작성, 영수증 및 도안 관리</td>
  </tr>
  <tr>
    <td class="subtitle">총무차장</td>
    <td>정대환</td>
  </tr>
  <tr>
    <td class="subtitle">기획부장</td>
    <td>정경창</td>
    <td rowspan="2">사업 진행 및 구상</td>
  </tr>
  <tr>
    <td class="subtitle">기획차장</td>
    <td>이하은</td>
  </tr>
  <tr>
    <td class="subtitle">홍보부장</td>
    <td>윤정</td>
    <td rowspan="2">사업 홍보 및 참여유도</td>
  </tr>
  <tr>
    <td class="subtitle">홍보차장</td>
    <td>김재훈</td>
  </tr>
  <tr>
    <td class="subtitle">학술부장</td>
    <td>김서빈</td>
    <td rowspan="2">학술 증진 관련 사업 진행 및 관리</td>
  </tr>
  <tr>
    <td class="subtitle">학술차장</td>
    <td>이성규</td>
  </tr>
  <tr>
    <td class="subtitle">문예부장</td>
    <td>이선영</td>
    <td rowspan="2">사업 관련 문예 작업 진행 및 전반적인 사업 진행 관리</td>
  </tr>
  <tr>
    <td class="subtitle">문예차장</td>
    <td>김수나</td>
  </tr>
  <tr>
    <td class="subtitle">체육부장</td>
    <td>이선명</td>
    <td rowspan="2">대외 사업 및 체육 관련 사업 진행 및 관리</td>
  </tr>
  <tr>
    <td class="subtitle">체육차장</td>
    <td>신유정</td>
  </tr>
</tbody>
</table>
<br>
<span style="font-size:20px; color:#509102">학생회실 위치 : 전자정보대학 제3관(S4-1) 109호</span>
<br><br>

<img src="{% static 'img/202004_02.png' %}" border="0" alt="학생회사진.jpg"><br>







</td>
	</tr>
</tbody></table>
			</div>
</body>
</html>