.autocomplete { 
    position: relative;
} 
.autocomplete-items {
    position: absolute;
    top: 100%;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99; 
    width: 90%;
    border-radius: 10px;
    /* padding: 15px 20px; */
} 
.autocomplete-items div { 
    padding: 10px; cursor: pointer; 
    background-color: #fff; 
    font-size: 1.4rem;
    /* border-bottom: 1px solid #d4d4d4;  */
} 
.autocomplete-items div:hover { 
    background-color: #e9e9e9; 
} 
.autocomplete-active { 
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

