.contents-wrapper {
    max-width: 480px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.contents-wrapper .contents {
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
    padding-top: 30px;
}

input[name=search] {
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    font-size: 1.6rem;
    box-sizing: border-box;
}

input[name=search]::placeholder {
    color: #b4b4b4;
}
.selectbox {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ff4040;
    border-radius: 20px;
    z-index: 1;
  }
.selectbox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff4040;
  }
  
  .selectbox label {
    position: absolute;
    top: 3px;
    left: 20px;
    font-size: 2rem;
    color: #ff4040;
    z-index: -1;
  }
  
  .selectbox select {
    width: 100%;
    height: auto;
    line-height: normal;
    font-family: inherit;
    background-color: #ffffff;
    padding: .8em .5em;
    border: 0;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.shop-list-box {
    overflow-y: scroll;
    height: 400px;
}

.shop-list-box ul {
    list-style: none;
    font-size: 2.0rem;
    color: #535353;
    padding-inline-start: 5px;
}

.shop-list-box ul li {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    cursor: pointer;
}
.shop-list-box ul li:hover {
    background-color: #f6f6f6;
}

.findpath-box {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
}

input[name=start],
input[name=end] {
    display: block;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    display: block;
}