
.logo {
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.logo img {
    width: 40px;
    height: 40px;
}
.logo-text {
    font-size: 2rem;
    color: #da291c;
    font-weight: 400;
}

a {
    text-decoration: none;
}